---
layout: bootcamp
root: .
venue: GREZOSP
address: Faculté de médecine vétérinaire de l'Université de Montréal, St-Hyacinthe, QC
country: Canada
humandate: Nov 6-7, 2014
humantime: 9:00 am - 4:30 pm
startdate: 2014-11-06
enddate: 2014-11-07
latlng: 45.619605,-72.963607
registration: restricted
instructor: ["John D. Blischak", "Denis Haine"]
helper: []
contact: admin@software-carpentry.org
---
<div class="row-fluid">
<div class="span5">
<p><a href="https://www.medvet.umontreal.ca/grezosp/grezosp_f.htm"><img src="GREZOSP.jpg" alt="GREZOSP logo" /></a></p>
</div>
<div class="span7">
<h2>General Information</h2>

<p>
  <a href="//software-carpentry.org">Software Carpentry</a>'s mission
  is to help scientists and engineers become more productive
  by teaching them basic lab skills for computing
  like program design, version control, data management, and task automation.
  This two-day hands-on bootcamp will cover basic concepts and tools;
  participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>
<p>
We will focus on teaching R programming, using shell to do more tasks more
quickly, version control to track and share your work, and reproducible
research. Registration is free for GREZOSP and Faculté de médecine vétérinaire
de l'Université de Montréal (UdeM) members, $50 for the UdeM community, and $200
otherwise. <b>Seats are limited!</b> (Note: the bootcamp will be given in
English, but help support in French will also be available)
</p>
<p>
To register, please send this <a href="SWC_inscription.docx"
				 download>registration form</a>
				 to <a href="mailto:liliane.fortin@umontreal.ca?Subject=Inscription%20Bootcamp%20SWC"
				 target="_top">Liliane Fortin</a>. For any
				 question on the program,
				 contact <a href="mailto:denis.haine@umontreal.ca"
				 target="_top">Denis Haine</a>.
</p>
</div>
</div>
<h2>Details</h2>
<!-- This block displays the instructors' names if they are available. -->
{% if page.instructor %}
<p>
  <strong>Instructors:</strong>
  {{page.instructor | join: ', ' %}}
</p>
{% endif %}

<!-- This block displays the helpers' names if they are available. -->
{% if page.helper %}
<p>
  <strong>Helpers:</strong>
  {{page.helper | join: ', ' %}}
</p>
{% endif %}

<!--
    Modify this block to reflect the target audience for your bootcamp.
    In particular, if it is only open to people from a particular institution,
    or if specialized prerequisite knowledge is required, please mention that.
-->
<p>
  <strong>Who:</strong>
  The course is aimed at graduate students and other researchers, especially in
  epidemiology and public health.
</p>

<!--
    This block displays the address and links to a map showing directions.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{ page.address }}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{ page.latlng | replace:',','&mlon=' }}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{ page.latlng }}">Google Maps</a>.
</p>
{% endif %}
<p>
<strong>Classroom:</strong> Local
2950, <a href="http://plancampus.umontreal.ca/saint-hyacinthe/#iw|436"
	 target="_blank">entrance via main building</a>.
</p>
<!--
    Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requirements:</strong>
  Participants must bring a laptop with a few specific software packages installed
  (listed below).
</p>

<!--
    This block automatically inserts a contact email address if one has been specified for the page.
    If one hasn't, this block inserts the generic contact address for Software Carpentry.
-->
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<!--
    Edit this block to show the schedule for your bootcamp.
-->
<h2>Schedule</h2>

<div class="row-fluid">
  <div class="span6">
    <h3>Thursday November 6</h3>
    <table class="table table-striped">
      <tr> <td>8:30 - 9:00</td> <td>Setup help</td> </tr>
      <tr> <td>9:00 - 10:00</td> <td>Basics of the R working environment and
      language</td> </tr>
      <tr> <td><em>10:15 - 10:45</em></td> <td><em>Coffee break</em></td> </tr>
      <tr> <td>10:45 - 12:00</td> <td>R objects</td> </tr>
      <tr> <td>12:00</td> <td>Lunch break (on your own)</td> </tr>
      <tr> <td>13:00 - 14:15</td> <td>Version control</td> </tr>
      <tr> <td><em>14:15 - 14:45</em></td> <td><em>Coffee break</em></td> </tr>
      <tr> <td>14:45 - 16:00</td> <td>Figures in R</td> </tr>
    </table>
  </div>
  <div class="span6">
    <h3>Friday November 7</h3>
    <table class="table table-striped">
      <tr> <td>8:30 - 9:00</td> <td>Setup help</td> </tr>
      <tr> <td>9:00 - 10:15</td> <td>Writing functions and data
      aggregation</td> </tr>
      <tr> <td><em>10:15 - 10:45</em></td> <td><em>Coffee break</em></td> </tr>
      <tr> <td>10:45 - 12:00</td> <td>Shell</td> </tr>
      <tr> <td>12:00</td> <td>Lunch break (on your own)</td> </tr>
      <tr> <td>13:00 - 14:15</td> <td>Version control (continued)</td> </tr>
      <tr> <td><em>14:15 - 14:45</em></td> <td><em>Coffee break</em></td> </tr>
      <tr> <td>14:45 - 16:00</td> <td>Workflows</td> </tr>
    </table>
  </div>
</div>

<hr/>
<h2>Setup</h2>

<p>
  To participate in a Software Carpentry bootcamp, 
  you will need working copies of the software described below.
  Please make sure to install everything
  (or at least to download the installers)
  <em>before</em> the start of your bootcamp.
</p>

{% include setup.html %}
